#menublock {
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
}

#menublock a {
    color:#444;
}

#menublock li.active {
    background-color:#f1f2f4;   
}

#menublock ul {
    position:relative;
}

#menublock ul li {
    position:absolute;
    top:0;  
    display:block;
}

#menublock ul li#nm_id_artist {
    left:100px;
}

#menublock ul li a.topLink:hover, #menublock li.active a.topLink {
    background-color:#333; 
    color:#fff;
}

#menublock ul li a.topLink {
    display:block;
    height:20px; 
    padding-left:10px;
    padding-right:10px; 
    color:#444;
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
    border:1px #444 solid;
}

#menublock .submenu {
    display:none; 
    background-color:#f1f2f4;
    overflow:hidden;
    box-shadow:0 3px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0 3px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 3px 3px rgba(0,0,0,0.2);
}

#menublock .submenu li {
    display: block;
    position: relative;
}

#menublock .submenu li a.top {
    padding-top:5px;
}

 #menublock .submenu li a.bottom {
    padding-bottom:5px;
}

#menublock .submenu li a {
    padding-left:10px;
    padding-right:10px;  
    display:block;
    text-decoration: none;
    line-height:20px;
}

#menublock .submenu li a:hover {
    background:#333;
    color:#fff;
}
